body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrap {
    margin: 0 auto;
}

.con {
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.img-box > img {
    display: block;
    width: 100%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* common.css */
.con {
    width: 1150px;
}

.con-min-width {
    min-width: 1310px;
}

html {
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

/* index.css */
/*커스텀*/
.wrap {
    width: 1310px;
}

.wrap-min-widht {
    min-width: 1310px;
}

.top-menu-bar {
    background-color: black;
    height: 32px;
}

.top-menu-1 {
    line-height: 32px;

}

.top-menu-1 ul {
    display: block;
}

.top-menu-1 li:hover a {
    color: #dfdfdf;
}

.top-menu-1 span {
    color: #f90033;
    font-size: 11px;
    right: -10px;
    top: 0;

}

.top-menu-1 a {
    color: white;
    display: block;
    font-size: 11px;
    padding: 0 6px 0 10px;
    text-align: right;

}

/*중간 메뉴*/

.toparea {
    height: 149px;
}

.toparea .left-menu {
    width: 397px;
    margin-top: 80px;
    color: #bfbfbf;
}

.toparea .left-menu li {
    padding: 0 9px 0 9px;
    display: inline;
    position: relative;
}

.left-menu li:hover > a {
    color: black;
}

.toparea .left-menu li::after {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background-color: #bfbfbf;
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-55%);
}

.toparea .left-menu li:last-child::after {
    display: none;
}


.toparea .left-menu a {
    font-weight: bold;
    font-size: 0.85rem;
    display: block;

}


.toparea .top-logo {
    text-align: center;
}

.top-logo img {
    width: 337px;
    height: 149px;
    text-align: center;

}

.right-search {
    border: 1px solid black;
    width: 210px;
    height: 24px;
    line-height: 22px;
    margin: 78px 0 0 185px
}

.right-search .keyword {
    width: 173px;
    height: 22px;
    line-height: 22px;
    padding: 0 0 0 9px;
    display: inline-block;
    border: 0;
}

.right-search .search {
    width: 22px;
    height: 22px;
    right: 0;
    box-sizing: border-box;
}

/*메인 메뉴*/

.menu-bar {
    border-top: 3px solid black;
    text-align: center;
}

.menu-bar .menu-1 {
    text-align: center;
    display: inline-block;
}

.menu-bar .menu-1 > ul {
    margin-left: 48px;
}

.menu-bar .menu-1 ul > li > a {
    display: block;
}

.menu-bar .menu-1 > ul > li > a {
    padding: 10px 17px;
    font-size: 0.77rem;
    font-weight: bold;
}

.menu-bar .menu-1 ul > li:hover > a {
    background-color: black;
    color: white;
}

.menu-bar .menu-1 > ul ul {
    display: none;
    position: absolute;
    left: 0;
    width: 160px;
    border: 1px solid black;
    z-index: 15;
}

.menu-bar .menu-1 > ul ul > li {
    background-color: white;
}

.menu-bar .menu-1 > ul ul > li:first-child .menu-bar .menu-1 > ul ul > li:not(:last-child) {
    border-bottom: 1px solid black;
}

.menu-bar .menu-1 > ul ul > li > a {
    text-align: left;
    padding: 5px;
    font-size: 11px;
}

.menu-bar .menu-1 > ul ul > li:not(:last-child) {
    border-bottom: 1px solid #cfcfcf;
}

.menu-bar .menu-1 > ul > li:hover > ul {
    display: block;
}

/*컨텐츠 왼쪽*/

.event-left {
    border: 1px solid #e4e4e4;
    width: 219px;
    height: 154px;
    margin: 7px 0 0;
    padding-top: 6px;
    border-spacing: 2px;
}

.event-left li {
    padding-left: 11px;
    height: 25px;
    line-height: 25px;
    width: auto;
}

.event-left a {
    font-size: 11px;
    color: #555;
    display: block;
}

/*센터 슬라이더*/
.slider-1 {
    width: 595px;
    height: 456px;
    position: relative;
    margin: 0 12px;
}

.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-prevNav,
.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav {
    background-color: rgba(0, 0, 0, .5);
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: none;
}

.slider-1:hover > #nivoSlider1 .nivo-directionNav > .nivo-prevNav,
.slider-1:hover > #nivoSlider1 .nivo-directionNav > .nivo-nextNav {
    display: block;
}

.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-prevNav::before,
.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-prevNav::after,
.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav::before,
.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav::after {
    content: "";
    position: absolute;
    width: 8%;
    height: 20%;
    left: 45%;
    top: 35%;
    transform: rotate(45deg);
    background-color: white;
}

.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-prevNav::after {
    transform: rotate(135deg);
    top: 45%;
}

.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav::before,
.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav::after {
    transform: rotate(-45deg)
}

.slider-1 > #nivoSlider1 .nivo-directionNav > .nivo-nextNav::after {
    transform: rotate(-135deg);
    top: 45%;
}


.slider-1 > #nivoSlider1 .nivo-caption {
    font-size: 0.9rem;
    color: #3f3f3f;
    background-color: #dfdfdf;
}

.slider-1 > #nivoSlider1 + .nivo-controlNav {
    position: absolute;
    bottom: 8px;
    right: 0;
    z-index: 10;
    padding: 0;
}

.slider-1 > #nivoSlider1 + .nivo-controlNav > .nivo-control {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(166, 166, 166, 1);
    display: inline-block;
    margin: 0 5px;
}

.slider-1 > #nivoSlider1 + .nivo-controlNav > .nivo-control.active {
    background-color: dodgerblue;
}

/*오른쪽*/
.right-slider {
    text-transform: uppercase;
    text-align: center;
    width: 310px;
    height: 39px;
    font-size: 1.3rem;
    letter-spacing: 5px;
    margin-top: 12px;
}

.visual-right {
    width: 310px;
    height: 456px;
}

.carousel-1 {
    width: 310px;
}

.carousel-1 .item {
    height: 309px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-1 .owl-nav {
    margin: 0 !important;
}

.carousel-1 .owl-nav > div {
    padding: 0 !important;
    margin: 0 20px !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    position: absolute;
    top: -25px;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem !important;
    color: black !important;
}

.carousel-1 .owl-nav > div:hover {
    color: black !important;
}

.carousel-1 .owl-nav > div.owl-next {
    left: auto;
    right: 0;
}

.carousel-1 .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.carousel-1 .owl-dots {
    line-height: 0 !important;
    padding: 10px 0 !important;
}

.carousel-1 .owl-dots > .owl-dot > span {
    width: 30px !important;
    height: 10px !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.product {
    width: 100%;
    margin: 60px 0 80px 0;
    border-top: 3px solid black;
}

.produt-item-text {
    text-align: center;
    height: 52px;
    width: 100%;
    font-size: 1.5rem;
    font-size: 1.5rem;
    line-height: 52px;
}

.produt-item-text::after {
    content: "";
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    position: absolute;
    width: 1150px;
    left: 0;
    bottom: 0;
    padding: 1px;
}

.product-item-list {
    width: 100%;
    height: 415.5px;
    box-sizing: border-box;
    text-align: center;
}

.product-item-list .list-1-box {
    width: 267px;
    height: 310px;
    display: block;
    margin: 20px 10px 20px 10px;
}

.list-1-box .product-name a {
    font-size: 12px;
}

.product-item-list-1 .img-box > img {
    width: 258px;
    height: 258px;
    border: 1px solid #ececec;
    margin: auto;
}

#footer {
    padding: 20px;
    margin-top: 20px;
    border-top: 3px solid;
    width: 1150px;
    margin: 0 auto;
}

#footer > .row > .cell:not(:first-child) {
    margin-left: 55px;
}

#footer > .row > .cell:not(:first-child) {
    border-left: solid 1px gray;
}

#footer > .row > .cell > ul {
    padding-left: 25px;
}

#footer > .row > .cell > ul > li {
    font-size: 0.5rem;
}

#footer > .row > .cell > ul > li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.home {
    padding: 10px;
    width: 1150px;
    text-align: center;
    margin: 0 auto;
    color:gray;
}

.home div {
    display: inline-block;
    margin-left: 30px;
}

.bottom {
    margin-top: 20px;
    width: 1150px;
    margin: 0 auto;
}

.bottom > .row {
    width: 1150px;
    margin: 0 auto;
}

.bottom > .row > .cell {
    padding-left: 55px;
}

